<!DOCTYPE html>

<html>
    <head>
        <title>訂購網頁</title>
    </head>
    <body>
        <div class="container">
            <center><h1>開始訂購餐點</h1></center>
            <hr>
            <br>
            <form method="post">
                <blockquote><blockquote><h3>請輸入您的電子信箱：<input type="text" name="user_id" size="18" value="user@gmail.com"></h3></blockquote></blockquote>
                <blockquote><blockquote><h3>請選擇您要的餐點及數量</h3></blockquote></blockquote>
                <blockquote><blockquote><blockquote><h4>漢堡($6/個)：<input type="value" name="burger" size="3" style="text-align: right;" value=0></h4></blockquote></blockquote></blockquote>
                <blockquote><blockquote><blockquote><h4>三明治($5/個)：<input type="value" name="sandwich" size="3" style="text-align: right;" value=0></h4></blockquote></blockquote></blockquote>
                <blockquote><blockquote><blockquote><h4>可樂($2/瓶)：<input type="value" name="cola" size="3" style="text-align: right;" value=0></h4></blockquote></blockquote></blockquote>
                <br>
                <blockquote><blockquote><h3>您想取餐的門市: </h3></blockquote></blockquote> -->
                <blockquote><blockquote><blockquote><h4><input type="radio" name="p1" value="政大店1">政大店1<br></h4></blockquote></blockquote></blockquote>
                <blockquote><blockquote><blockquote><h4><input type="radio" name="p1" value="政大店2">政大店2<br></h4></blockquote></blockquote></blockquote>
                <blockquote><blockquote><blockquote><blockquote><blockquote><input type="reset" name="clear" value="取消">&nbsp&nbsp<input type="submit" name="Submit" value="確認送出"></blockquote></blockquote></blockquote></blockquote></blockquote>
            </form>
        </div>
    </body>
</html>